body{
    font-family: 'Indie Flower', cursive;
}

h1{
    text-align: center;
}

.btns{
   display: none;
} 

#game {
    text-align: center;
}

#gameBoard {
    position: relative;
    width: 1000px;
    height: 400px;
    background-color: grey;
    margin: 0 auto;
    border: 3px solid black;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: center;
}

#beetle{
    width: 60px;
    position: absolute;
    top: 200px;
    left: 250px;
}

#play{
    border-radius: 0.3rem;
    padding: 5px 30px 5px 30px;
    margin: 10px;
    letter-spacing: 2px;
}

#start {
    position: absolute;
    transform: rotate(-90deg);
    left: 10px;
    top: 170px;
}
#end{
    position: absolute;
    transform: rotate(-270deg);
    left: 920px;
    top: 170px;
}

.green {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.red {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}